Checks: >
  -*,
  clang-analyzer-core.DivideZero,
  clang-analyzer-core.NullDereference,
  clang-analyzer-core.UndefinedBinaryOperatorResult,
  clang-analyzer-core.uninitialized.*,
  clang-analyzer-cplusplus.NewDelete,
  clang-analyzer-cplusplus.NewDeleteLeaks,
  clang-analyzer-deadcode.DeadStores,
  bugprone-infinite-loop,
  bugprone-misplaced-widening-cast,
  bugprone-move-forwarding-reference,
  bugprone-string-constructor,
  bugprone-suspicious-memset-usage,
  bugprone-suspicious-semicolon,
  bugprone-suspicious-string-compare,
  bugprone-swapped-arguments,
  bugprone-terminating-continue,
  bugprone-use-after-move,
  performance-for-range-copy,
  performance-implicit-conversion-in-loop,
  performance-inefficient-algorithm,
  performance-move-const-arg,
  performance-move-constructor-init,
  performance-unnecessary-copy-initialization,
  portability-template-virtual-member-function,
  modernize-use-nullptr,
  modernize-use-override
WarningsAsErrors: '*'
HeaderFilterRegex: '(^|.*[\\/])(Compiler|Tests[\\/]Unit)[\\/]'
ExcludeHeaderFilterRegex: '(^|.*[\\/])Tests[\\/]Unit[\\/]ThirdParty[\\/]'
FormatStyle: file
SystemHeaders: false
